/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #662e85;
  --ifm-color-primary-dark: #5c2978;
  --ifm-color-primary-darker: #572771;
  --ifm-color-primary-darkest: #47205d;
  --ifm-color-primary-light: #703392;
  --ifm-color-primary-lighter: #753599;
  --ifm-color-primary-lightest: #853cad;
  --ifm-background-color: #fafafa;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
  overflow: auto;
  line-height: 1.5;
}

code {
  font-family: 'Roboto Mono', monospace;
  color: #333;
}

/* Dark mode */
:root[data-theme='dark'] {
  --ifm-color-primary: #c8a3e1;
  --ifm-color-primary-dark: #b690d3;
  --ifm-color-primary-darker: #a97dc5;
  --ifm-color-primary-darkest: #9162ab;
  --ifm-color-primary-light: #d0b4ea;
  --ifm-color-primary-lighter: #d5baf0;
  --ifm-color-primary-lightest: #e2ccfa;
  --ifm-background-color: #121212;
  --ifm-text-color: #ffffff;
}

:root[data-theme='dark'] pre {
  background-color: #1e1e1e;
  color: #d4d4d4; 
  border: 1px solid #333; 
}

:root[data-theme='dark'] code {
  font-family: 'Roboto Mono', monospace;
  color: #ffffff; 
}

.footer__links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__col {
  flex: 1;
  margin: 0 1rem;
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__links .footer__link-item {
  margin-right: 20px;
}

.footer__links .footer__link-item a.footer__link {
  padding-left: 10px;
  padding-right: 10px;
}

.footer__bottom {
  text-align: center;
  margin-top: 1rem;
}

.footer__title {
  text-align: center;
  padding-left: 10px;
  padding-right: 30px;
  margin-left: 0;
}